<%- include partials/headerwrk.ejs %>

  <!DOCTYPE html>
  <html data-bs-theme="light" lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>new coin page</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Articles-Cards-images.css">
    <style>
      .article-details {
        display: none;
      }
    </style>
  </head>

  <body>
    <div class="container py-4 py-xl-5">
      <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
          <h2>Coin Details</h2>
          <p>MetaMask Value: <%= address %></p> 
          <p class="w-lg-50">Check the coin details</p>
        </div>
      </div>
      <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
        <div class="col">
          <div class="card">
            <img class="card-img-top w-100 d-block fit-cover" alt="Bitcoin" style="height: 200px;"
              src="assets/img/photo-1519162584292-56dfc9eb5db4.jpg" >
            <div class="card-body p-4">
              <h4 class="card-title" style="color: blue" onclick="toggleArticleDetails('BIT')">Bit coin</h4>
              <div class="article-details" id="BIT-details">
                <details>
                  <summary>Discription</summary>
                <p class="card-text" id="BIT-description"></p>
                </details>
                <div class="d-flex">
                  <div>
                    <p class="fw-bold mb-0" id="BIT-block"></p>
                    <p class="text-muted mb-0" id="BIT-totalCoinsMined"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img class="card-img-top w-100 d-block fit-cover" alt="gold and silver round coin" style="height: 200px;"
              src="assets/img/photo-1626945019167-cf9e4bdd931a.jpg">
            <div class="card-body p-4">
              <h4 class="card-title" style="color: blue" onclick="toggleArticleDetails('ETH')">Eth coin</h4>
              <div class="article-details" id="ETH-details">
                <details>
                  <summary>Discription</summary>
                <p class="card-text" id="ETH-description"></p>
                </details>                
                <div class="d-flex">
                  <div>
                    <p class="fw-bold mb-0" id="ETH-block"></p>
                    <p class="text-muted mb-0" id="ETH-totalCoinsMined"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img class="card-img-top w-100 d-block fit-cover" alt="cryptocurrency, binance, crypto" style="height: 200px;" 
            src="assets/img/g95cbd56cf9f70bc12c93214e05b074b08463b64819567da119df4b7bd5ed8f61a2c95c586c9a7fd53077e2a73488b541bd7251cf1cd313d63990058582d8ff7d_640.jpg"
             >
            <div class="card-body p-4">
              <h4 class="card-title" style="color: blue" onclick="toggleArticleDetails('BNB')">Binance coin</h4>
              <div class="article-details" id="BNB-details">
                <details>
                  <summary>Discription</summary>
                <p class="card-text" id="BNB-description"></p>
                </details>
                <div class="d-flex">
                  <div>
                    <p class="fw-bold mb-0" id="BNB-block"></p>
                    <p class="text-muted mb-0" id="BNB-totalCoinsMined"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script>
      function toggleArticleDetails(coin) {
        console.log("coin", coin);
        var detailsElement = document.getElementById(coin + '-details');
        if (detailsElement.style.display === 'none') {
          detailsElement.style.display = 'block';
        } else {
          detailsElement.style.display = 'none';
        }
      }
    </script>

    <script>

      const myHeaders = new Headers();
      let BtcCoinDescription;
      let EthCoinDescription;
      let BnbCoinDescription;

      myHeaders.append("authorization", "Apikey 1290464b17d3d621626c481fbc451f538b57228b3339a4c161be5997f5b4ca9c");

      const requestOptions = {
        method: "GET",
        headers: myHeaders,
        redirect: "follow"
      };

      fetch("https://min-api.cryptocompare.com/data/all/coinlist?fsym=BTC", requestOptions)
        .then((response) => response.json())
        .then((result) => {
          BtcCoinDescription = result.Data.BTC
          console.log(BtcCoinDescription)
        })
        .catch((error) => console.error(error))
        .finally(() => {
          // Set values to HTML elements
          document.getElementById("BIT-description").textContent = BtcCoinDescription.Description;
          document.getElementById("BIT-block").textContent = "BlockNumber: " + BtcCoinDescription.BlockNumber;
          document.getElementById("BIT-totalCoinsMined").textContent = "TotalCoinsMined: " + BtcCoinDescription.TotalCoinsMined;;
        });
      fetch("https://min-api.cryptocompare.com/data/all/coinlist?fsym=ETH", requestOptions)
        .then((response) => response.json())
        .then((result) => {
          EthCoinDescription = result.Data.ETH
          console.log(EthCoinDescription)
        })
        .catch((error) => console.error(error))
        .finally(() => {
          // Set values to HTML elements
          document.getElementById("ETH-description").textContent = EthCoinDescription.Description;
          document.getElementById("ETH-block").textContent = "BlockNumber: " + EthCoinDescription.BlockNumber;
          document.getElementById("ETH-totalCoinsMined").textContent = "TotalCoinsMined: " + EthCoinDescription.TotalCoinsMined;
        });
        fetch("https://min-api.cryptocompare.com/data/all/coinlist?fsym=BNB", requestOptions)
        .then((response) => response.json())
        .then((result) => {
          EthCoinDescription = result.Data.BNB
          console.log(EthCoinDescription)
        })
        .catch((error) => console.error(error))
        .finally(() => {
          // Set values to HTML elements
          document.getElementById("BNB-description").textContent = EthCoinDescription.Description;
          document.getElementById("BNB-block").textContent = "BlockNumber: " + EthCoinDescription.BlockNumber;
          document.getElementById("BNB-totalCoinsMined").textContent = "TotalCoinsMined: " + EthCoinDescription.TotalCoinsMined;
        });
    </script>
  </body>

  </html>