<%- include partials/headerwrk.ejs %>

<body>
    <div id="readArea"> <!--Connecting to MetaMask -->
        <a class="btn btn-success" onclick="connectMetamask()">CONNECT TO METAMASK</button>
        <p id="userArea">Status: Not connected to Metamask</p>
        <p id="balanceArea">Ethereum Balance: </p>
         <!-- index html to meta-->
    </div>
</body>


<script>
        
    let account;
    const connectMetamask = async () => {
        try{
            if(window.ethereum !== "undefined"){
                const accounts = await ethereum.request({method: "eth_requestAccounts"});
                account = accounts[0];
                document.getElementById("userArea").innerHTML = `User Account: ${account}`;
                console.log(accounts)
                const balanceHex = await ethereum.request({
                        method: "eth_getBalance",
                        params: [account, "latest"]
                    });
                console.log("balance is :",balanceHex)

                // const etherBalance = parseFloat(ethers.utils.formatEther(balanceHex));
                // console.log("account balance is:" , etherBalance)
                // document.getElementById("balanceArea").innerHTML = `User Balance: ${etherBalance}`;
        }

    }
        catch (error){
            console.error("MetaMask is not installed or accessible.");
        }
    }
</script>