<%- include partials/headerwrk.ejs %>

    <!DOCTYPE html>
    <html data-bs-theme="light" lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>review menu</title>
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/Banner-Heading-Image-images.css">
    </head>

    <body>
        <!-- <div class="col-md-8 col-xl-6 text-center mx-auto">
        <h3 >Please Provide your Valuable experience about our training. Your honest response will help us to improve</h3>
    </div> -->
        <section class="py-4 py-xl-5">
            <div class="container">
                <div class="bg-dark border rounded border-0 border-dark overflow-hidden">
                    <div class="row g-0">
                        <div class="col-md-6">
                            <div class="text-white p-4 p-md-5">
                                <h2 class="fw-bold text-white mb-3">Football</h2>
                                <p class="mb-4">Give us your valuable football training experience in our academy</p>
                                <div class="my-3"><button class="btn btn-primary btn-lg me-2" role="button" href="#"
                                        onclick="rateFootballNowRedirection()">Rate Now</button>
                                    <button class="btn btn-light btn-lg" role="button" href="#"
                                        onclick="notNowRedirection()">Not Now</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 order-first order-md-last" style="min-height: 250px;"><img
                                alt="Soccer Player Kicking White Gray Soccer Ball on Green Grass Field"
                                class="w-100 h-100 fit-cover" src="assets/img/football-review.jpeg"
                                height="500"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-4 py-xl-5">
            <div class="container">
                <div class="bg-dark border rounded border-0 border-dark overflow-hidden">
                    <div class="row g-0">
                        <div class="col-md-6">
                            <div class="text-white p-4 p-md-5">
                                <h2 class="fw-bold text-white mb-3">Cricket</h2>
                                <p class="mb-4">Give us your valuable cricket training experience in our academy</p>
                                <div class="my-3"><button class="btn btn-primary btn-lg me-2" role="button" href="#"
                                        onclick="rateCricketNowRedirection()">Rate Now</button>
                                    <button class="btn btn-light btn-lg" role="button" href="#"
                                        onclick="notNowRedirection()">Not Now</botton>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 order-first order-md-last" style="min-height: 250px;"><img
                                alt="shallow focus photography of red cricket ball" class="w-100 h-100 fit-cover"
                                src="assets/img/cricket-review.jpg" height="500"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-4 py-xl-5">
            <div class="container">
                <div class="bg-dark border rounded border-0 border-dark overflow-hidden">
                    <div class="row g-0">
                        <div class="col-md-6">
                            <div class="text-white p-4 p-md-5">
                                <h2 class="fw-bold text-white mb-3">Rugby</h2>
                                <p class="mb-4">Give us your valuable rugby training experience in our academy</p>
                                <div class="my-3"><button class="btn btn-primary btn-lg me-2" role="button" href="#"
                                        onclick="rateRugbyNowRedirection()">Rate Now</button>
                                    <button class="btn btn-light btn-lg" role="button" href="#"
                                        onclick="notNowRedirection()">Not Now</botton>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 order-first order-md-last" style="min-height: 250px;"><img
                                alt="white and red soccer ball on green grass field during daytime"
                                class="w-100 h-100 fit-cover" src="assets/img/rugby-review.jpg"
                                height="500"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-4 py-xl-5">
            <div class="container">
                <div class="bg-dark border rounded border-0 border-dark overflow-hidden">
                    <div class="row g-0">
                        <div class="col-md-6">
                            <div class="text-white p-4 p-md-5">
                                <h2 class="fw-bold text-white mb-3">Basket Ball</h2>
                                <p class="mb-4">Give us your valuable basketball training experience in our academy</p>
                                <div class="my-3"><button class="btn btn-primary btn-lg me-2" role="button" href="#"
                                        onclick="rateBasketballNowRedirection()">Rate Now</button>
                                    <button class="btn btn-light btn-lg" role="button" href="#"
                                        onclick="notNowRedirection()">Not Now</botton>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 order-first order-md-last" style="min-height: 250px;"><img
                                alt="Spalding basketball in court" class="w-100 h-100 fit-cover"
                                src="assets/img/basketball-review.jpg" height="500"></div>
                    </div>
                </div>
            </div>
        </section>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script>
            function notNowRedirection() {
                window.location.href = '/';
            }
            function rateRugbyNowRedirection() {
                window.location.href = '/review?sports=rugby&img=rugby-review.jpg';
            }
            function rateFootballNowRedirection() {
                window.location.href = '/review?sports=football&img=football-review.jpeg';
            }
            function rateCricketNowRedirection() {
                window.location.href = '/review?sports=cricket&img=cricket-review.jpg';
            }
            function rateBasketballNowRedirection() {
                window.location.href = '/review?sports=basketball&img=basketball-review.jpg';
            }
        </script>

    </body>

    </html>